<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Stack</title>
</head>
<body style="background: black;
            font-family: Arial, Helvetica, sans-serif">
    
    
    <div style="width: 1100px;
                margin: 0px auto">
                
        <header style="background: blue;
                       height: 100px;
                       width: 100%;
                       margin: 0px;
                       text-align: center;
                       line-height: 100px;
                       color: white">
            <h1>Mi Primera Pagina con Social Oplesk 🚀</h1> 
        </header>
        
        <section>
            <article style="color: white;
                            margin-top: 40px;
                            margin-bottom: 130px;
                            text-align: center;
                            padding-bottom: 30px;
                            border-bottom: 1px solid #eee">
                <h2 style="font-size: 40px">Bienvenida</h2>
                <br>
                <br>
                <P>Esta es mi primer diseño de página, siendo este el inicio a comvertirme en un programador full stack</P>
                <br>
                <p>Gracias al equipo de Social Opleks por esta gran oportunidad de aprender con ustedes</p>
            </article>

        </section>

    </div>
    

    <footer style="background: grey;
                   color: white;
                   text-align: center;
                   height: 25px;
                   line-height: 25px">
        <p>By: Maulex</p>
    </footer>

</body>
</html>